/*
    CSS file for the UI upgrades April 2017. Source: Redbaton. 
    Customizations explicitly stated
*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
    font-family: sans-serif;
    /* 1 */
    
    line-height: 1.15;
    /* 2 */
    
    -ms-text-size-adjust: 100%;
    /* 3 */
    
    -webkit-text-size-adjust: 100%;
    /* 3 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */

body {
    margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    /* 1 */
    
    display: block;
}
/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
    display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template,
[hidden] {
    display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent;
    /* 1 */
    
    -webkit-text-decoration-skip: objects;
    /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
    outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    
    text-decoration: underline;
    /* 2 */
    
    text-decoration: underline dotted;
    /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
    font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0;
    color: #000;
}
/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}
/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    /* 1 */
    
    font-size: 1em;
    /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    
    height: 0;
    /* 1 */
    
    overflow: visible;
    /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    /* 1 */
    
    margin: 0;
    /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
    font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    
    text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    
    color: inherit;
    /* 2 */
    
    display: table;
    /* 1 */
    
    max-width: 100%;
    /* 1 */
    
    padding: 0;
    /* 3 */
    
    white-space: normal;
    /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    
    padding: 0;
    /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    
    outline-offset: -2px;
    /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    
    font: inherit;
    /* 2 */
}
.fregular,
body,
#contact_zippserv .section1 span,
.custom-dropdown .header-dropdown,
.key-solutions .tab-content .tab-pane .ks-knowmore,
.key-solutions .section-title p,
.testimonials .carousel-3d-container .carousel-3d-slide,
.testimonials .carousel-3d-container .carousel-3d-slide .title {
    font-family: 'Proxima-Regular';
}
.fsemi,
.jumbotron-text p,
.navbar-default .navbar-nav > li > a,
.footer__title,
.key-solutions .nav-tabs > li > a,
.why-zippserv .media .media-body .media-heading,
.white-box-layout p .mail-link,
#askaquestion .modal-header,
#login .modal-header {
    font-family: 'Proxima-Semi';
}
.fbold,
h1,
h2,
h3,
.jumbotron-text h1,
.section-title,
.section-titleBox,
#contact_zippserv .or-circle h1,
#contact_zippserv .section1,
.zippchecks-list .number-box,
.zippchecks-list-text h3,
.dark-strip h1,
#featured_services,
.key-solutions .panel-group .panel-heading .panel-title,
.timeline .about-title,
.zippmedia .about-title,
.zippmedia .media-box-text h5,
.white-box-layout .about-title,
.white-box-layout.founders .about-title-subheading {
    font-family: 'Proxima-Bold';
}
.flight,
.white-box-layout .about-title-subheading,
#login .form .forgot-password {
    font-family: 'Proxima-Light';
}
body {
    line-height: 1.2;
}
*:focus,
*:hover {
    outline: none;
}
p {
    font-size: 16px;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
.mb-32 {
    margin-bottom: 32px;
}
a {
    color: #fff;
}
a:hover,
a:focus {
    text-decoration: none;
}
.jumbotron {
    padding-top: 18%;
    padding-bottom: 15%;
    margin-bottom: 0px;
    /*margin-top: -75px;*/
}
.jumbotron-text h1 {
    font-size: 48px;
    line-height: 1.3em;
    color: #464a5c;
}
.jumbotron-text p {
    font-size: 18px;
    margin-bottom: 48px;
    color: #464a5c;
}
@media (max-width: 768px) {
    .jumbotron {
        padding-top: 30%;
        padding-bottom: 30%;
        background-position: 40%;
    }
    .jumbotron-text h1 {
        font-size: 28px;
        line-height: 1.2em;
    }
    .jumbotron-text p {
        font-size: 18px;
        margin-bottom: 48px;
    }
    .jumbotron-text h3 {
        font-size: 18px;
    }
    .jumbotron-text .btn-knowmore{
        margin-top: 16px;
    }
    .jumbotron-text .hb-btn2{
        margin-top: 16px;
    }
}
.section {
    padding-top: 24px;
}
.section-title {
    color: #464a5c;
    text-align: center;
    margin-bottom: 40px;
}
.section-titleBox {
    color: #464a5c;
    text-align: center;
    padding: 24px 12px;
}
.section-titleBox h3 {
    margin: 0;
}
.btn:focus,
.btn:hover,
.btn:active {
    outline: none;
}
.btn:active:focus {
    outline: none;
}
.btn-primary {
    background: #087fc1;
    color: #fff;
    border-radius: 50px;
    padding: 8px 34px;
    font-size: 18px;
    box-shadow: none;
    outline: none;
    border: none;
}
.btn-primary:focus,
.btn-primary:hover {
    outline: 0;
}
.btn-encroachment {
    margin-top: 48px;
}
.btn-encroachment:focus,
.btn-encroachment:hover {
    outline: 0;
}
.gray-bg {
    background: #f4f4f4;
}
.white-bg {
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.divider-md {
    border: none;
    border-right: 1px solid #ccc;
}
.gray-line {
    position: absolute;
    width: 2px;
    height: 50%;
    background: #ccc;
    top: 25%;
    left: -8px;
}
@media (max-width: 991px) {
    .divider-md {
        border: none;
    }
    .divider-sm {
        border-right: 1px solid #ccc;
    }
}
@media (max-width: 767px) {
    .divider-sm {
        border: none;
    }
    .divider-xs {
        border-bottom: 1px solid #ccc;
    }
}
.form-control {
    border-color: #ebebeb;
    padding: 20px 24px;
    border-radius: 3px;
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
    border-color: #ebebeb;
}
.white_divider {
    border-bottom: 1px solid #fff;
    width: 20%;
    position: relative;
    left: 40%;
    height: 40px;
    margin-bottom: 40px;
}
.boxShadow,
.section-titleBox,
.zippchecks-list,
.zippserv-stats,
.testimonials .carousel-3d-container .carousel-3d-slide {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 5px;
}
#contact_zippserv {
    position: relative;
    padding-top: 0px;
}
#contact_zippserv .or-circle {
    position: absolute;
    top: 39%;
    left: 50%;
    color: #fff;
}
#contact_zippserv .or-circle h1 {
    background: #464a5c;
    border-radius: 50%;
    padding: 24px;
    font-size: 24px;
    position: relative;
    left: -50%;
}
@media (max-width: 767px) {
    #contact_zippserv .or-circle {
        top: 44%;
    }
    #contact_zippserv .or-circle h1 {
        padding: 20px;
        font-size: 20px;
    }
    #contact_zippserv .white_divider {
        height: 12px;
        margin-bottom: 24px;
    }
}
#contact_zippserv .section1 {
    padding: 64px 8px;
    background: url(../images/formimage.png);
    background-size: cover;
    color: #fff;
    height: 360px;
}
#contact_zippserv .section1 p {
    font-size: 22px;
}
#contact_zippserv .section1 img {
    width: 24px;
    margin-right: 16px;
}
#contact_zippserv .section1 span {
    font-size: 22px;
}
#contact_zippserv .section2 {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #f3f3f3;
    height: 360px;
}
#contact_zippserv .section2 h1 {
    color: #fff;
    margin-bottom: 0px;
}
#contact_zippserv .section2 form {
    height: 100%;
}
#contact_zippserv .section2 form .btn {
    margin-top: 16px;
}
#contact_zippserv .section2.white-bg {
    background: #fff;
    border-top: 1px solid #ccc;
}
#contact_zippserv .section2.white-bg form .form-control {
    background-color: #f3f3f3;
}
.top-nav {
    background: #464a5c;
}
.top-nav .social-icons {
    padding: 8px 16px 5px 16px;
}
.top-nav .social-icons i {
    padding: 0px 8px;
    font-size: 16px;
}
.top-nav .social-icons a:hover,
.top-nav .social-icons a:focus {
    color: #fff;
}
.top-nav .cart-icon {
    margin: 8px 6px 0px 12px;
}
.top-nav .cart-icon img {
    width: 20px;
}
.top-nav .social-dropdown i.fa-share-alt {
    font-size: 14px;
}
.top-nav .social-dropdown .dropdown-menu {
    min-width: 40px;
    right: -15px;
}
.top-nav .phone-number {
    background: #ffba00;
    padding: 0px 8px;
    padding-top: 3px;
}
.top-nav .phone-number img {
    padding: 3px;
    padding-bottom: 6px;
    padding-right: 6px;
    width: 22%;
}
.top-nav .dropdown img {
    width: 9px;
    margin-top: -3px;
}
.top-nav .dropdown button {
    background: transparent;
    color: #fff;
    border: none;
    padding-top: 8px;
}
.top-nav .dropdown button .fa {
    margin-left: 4px;
    font-size: 12px;
    margin-top: -1px;
}
.top-nav .dropdown .dropdown-menu {
    background: #fff;
}
.top-nav .dropdown .dropdown-menu li {
    padding: 4px 8px;
}
.top-nav .dropdown .dropdown-menu li a {
    color: #5c5c5c;
}
.top-nav .dropdown .dropdown-menu li a:hover,
.top-nav .dropdown .dropdown-menu li a:focus {
    background-color: #087fc1;
    color: #fff;
}
@media (max-width: 767px) {
    .top-nav .social-icons {
        padding: 8px 4px 5px 4px;
    }
    .top-nav .social-icons i {
        padding: 0px 4px;
        font-size: 12px;
    }
    .top-nav .city-selector {
        float: left !important;
        margin-left: 0px;
    }
    .top-nav .phone-number {
        padding: 6px 0px 4px 4px;
        font-size: 12px;
        margin-left: 10px;
    }
    .top-nav .phone-number img {
        padding: 0px;
        padding-bottom: 6px;
        padding-right: 3px;
        width: 16%;
    }
    .top-nav .navbar-collapse {
        padding-left: 5px;
        padding-right: 5px;
    }
    .top-nav .dropdown img {
        width: 7px;
        margin-top: -3px;
    }
}
@media (max-width: 320px) {
    .top-nav .city-selector {
        margin-left: -10px;
    }
}
.about-menu .navbar-default {
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.nav-border-bottom {
    border-bottom: 1px solid #ccc;
}
.navbar-default {
    margin: 0;
    background-color: transparent;
    height: 75px;
    border: 0;
}
.navbar-default .cart-icon {
    font-size: 12px;
}
.navbar-default .cart-icon img {
    width: 20px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #087fc1;
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #464a5c;
    margin-right: 5px;
    padding: 6px 12px;
}
.navbar-default .navbar-nav > li > a i {
    font-size: 12px;
    margin-top: 4px;
}
.navbar-default .navbar-brand {
    padding-top: 11px;
}
.navbar-default .navbar-brand img {
    width: 68%;
}
.navbar-default .navbar-collapse {
    margin-top: 24px;
    border: 0;
    box-shadow: none;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        padding: 14px 16px;
        padding-top: 0;
    }
    .navbar-default .navbar-nav > li > a i {
        font-size: 14px;
    }
    .navbar-default .navbar-collapse {
        margin-top: 4px;
        background: #fff;
        z-index: 3;
        box-shadow: 0px 7px 10px -6px rgba(0, 0, 0, 0.4);
    }
    .navbar-default .navbar-collapse .navbar-nav {
        margin: 0;
        padding-top: 16px;
    }
    .navbar-default .navbar-collapse .navbar-nav li {
        padding: 8px 8px;
    }
    .navbar-default .navbar-collapse .navbar-right {
        padding-top: 0px;
        padding-bottom: 16px;
    }
}
.navbar-default .dropdown-menu {
    min-width: 250px;
    padding: 0;
}
.navbar-default .dropdown-menu li {
    border-left: 2px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.navbar-default .dropdown-menu li:hover,
.navbar-default .dropdown-menu li:focus {
    border-left: 2px solid #087fc1;
    background: none;
}
.navbar-default .dropdown-menu li:hover i,
.navbar-default .dropdown-menu li:focus i {
    color: #087fc1;
}
.navbar-default .dropdown-menu li i {
    margin-top: 5px;
    font-size: 10px;
}
.navbar-default .dropdown-menu > li > a {
    color: #5c5c5c;
    font-size: 14px;
}
.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .dropdown-menu > li > a:focus {
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a.btn-menu {
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid;
    border-color: #087fc1;
}
.navbar-default .navbar-nav > li > a.btn-menu:hover,
.navbar-default .navbar-nav > li > a.btn-menu:focus {
    color: #087fc1;
    background: transparent;
    border: 1px solid;
    border-color: #087fc1;
}
.navbar-default .navbar-nav > li > a.btn-menu-inverse {
    font-size: 14px;
    border: 1px solid;
    border-color: #087fc1;
    color: #087fc1;
    background: transparent;
}
.navbar-default .navbar-nav > li > a.btn-menu-inverse:hover,
.navbar-default .navbar-nav > li > a.btn-menu-inverse:focus {
    color: #fff;
    background: #087fc1;
    border-color: #087fc1;
}
@media (max-width: 991px) {
    .navbar-default .navbar-header {
        width: 25%;
    }
    .navbar-default .navbar-brand img {
        width: 80%;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 4px 10px;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav > li > a {
        padding: 14px 16px;
    }
    .navbar-default .navbar-header {
        width: 100%;
    }
    .navbar-default .navbar-brand img {
        width: 170px;
    }
    .navbar-default .navbar-toggle {
        margin-right: 0px;
        margin-top: 21px;
        background-color: transparent;
        border: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #464a5c;
        width: 31px;
        height: 4px;
        margin-bottom: 4px;
        border-radius: 3px;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
}
.custom-dropdown {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    color: #333 !important;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
    transition: transform 0.5s 0s, visibility 0s 0.5s;
}
.custom-dropdown .header-dropdown {
    position: relative;
    z-index: 1;
    color: #fff;
    background-color: #087fc1;
    border-bottom: 1px solid #087fc1;
    margin: 0;
    padding: 8px 20px;
    font-size: 16px;
    height: 50px;
    line-height: 36px;
    letter-spacing: 0px;
}
.custom-dropdown .dd-close {
    /* 'X' close icon - mobile version only */
    
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    /* image replacement */
    
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}
.custom-dropdown .dd-close::after,
.custom-dropdown .dd-close::before {
    /* this is the 'X' icon */
    
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 20px;
    width: 2px;
    background-color: #fff;
}
.custom-dropdown .dd-close::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.custom-dropdown .dd-close::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.custom-dropdown .navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 18px;
    color: #5c5c5c;
}
.custom-dropdown .navbar-nav > li > a:focus i {
    color: #087fc1;
}
.custom-dropdown .navbar-nav .dropdown.open a.dropdown-toggle {
    border-left: 3px solid #087fc1;
}
.custom-dropdown .navbar-nav .dropdown {
    border-bottom: 1px solid #ccc;
}
.custom-dropdown .open .dropdown-menu > li > a {
    padding: 12px 15px 12px 25px;
}
.is-active-dropdown {
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0s;
    transition: transform 0.5s 0s, visibility 0s 0s;
}
.wt-header {
    transition: all 0.5s ease;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.footer {
    background: #464a5c;
    padding-top: 32px;
    color: #fff;
}
.footer img {
    margin-bottom: 8px;
}
.footer a:hover,
.footer a:focus {
    color: #fff;
}
.footer__title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 16px;
}
.footer ul {
    list-style-type: none;
    padding: 0;
    line-height: 2em;
}
.footer__sub {
    background: #2a2d39;
    padding: 16px 0px;
    margin-top: 32px;
}
.footer__sub p {
    margin: 0;
}
.footer p {
    font-size: 14px;
}
@media (max-width: 991px) {
    .footer__title {
        margin-bottom: 8px;
        margin-top: 32px;
    }
}
.builder-info {
    background: url("../images/Banner.png");
    background-size: cover;
}
@media (max-width: 768px) {
    .builder-info {
        background-position: 40%;
    }
}
.zippchecks {
    background: url("../images/fold2-BG.png");
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 64px;
}
.zippchecks-title {
    margin-bottom: 40px;
}
.zippchecks-list {
    display: flex;
    margin-bottom: 24px;
}
.zippchecks-list .number-box {
    text-align: center;
    color: #fff;
    font-size: 32px;
    padding: 24px 12px;
    background: #087fc1;
    width: 10%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.zippchecks-list .number-box h1 {
    margin: 0;
    margin-top: 8px;
}
.zippchecks-list .icon-box {
    width: 20%;
    padding: 24px 0px;
    text-align: center;
}
.zippchecks-list .icon-box img {
    width: 30%;
}
.zippchecks-list-text {
    width: 70%;
    position: relative;
    padding: 8px 64px;
}
.zippchecks-list-text .gray-line {
    position: absolute;
    width: 2px;
    height: 50%;
    background: #ccc;
    top: 25%;
    left: -8px;
}
.zippchecks-list-text h3 {
    margin-bottom: 8px;
    color: #087fc1;
}
@media (max-width: 991px) {
    .zippchecks-list .number-box {
        color: #fff;
        font-size: 24px;
        padding: 32px 8px;
        width: 15%;
    }
    .zippchecks-list .icon-box {
        width: 20%;
        padding: 24px 0px;
    }
    .zippchecks-list .icon-box img {
        width: 40%;
    }
    .zippchecks-list-text {
        padding: 8px 32px;
        width: 65%;
    }
}
@media (max-width: 767px) {
    .zippchecks-list {
        flex-wrap: wrap;
    }
    .zippchecks-list .number-box {
        position: relative;
        width: 50%;
        border-bottom-left-radius: 0px;
        height: 160px;
    }
    .zippchecks-list .number-box h1 {
        font-size: 64px;
        margin-top: 16px;
    }
    .zippchecks-list .icon-box {
        position: relative;
        height: 160px;
        width: 50%;
        border-bottom: 1px solid #ccc;
    }
    .zippchecks-list .icon-box img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .zippchecks-list-text {
        padding: 8px 20px;
        width: 100%;
    }
}
.dark-strip {
    background: #464a5c;
    padding: 12px 12px;
}
.dark-strip h1 {
    line-height: 1.3em;
    font-size: 32px;
    color: #fff;
}
.dark-strip h1 span {
    color: #ffba00;
}
#featured_services {
    padding-bottom: 64px;
    text-align: center;
}
#featured_services h4 {
    padding-top: 16px;
    font-size: 16px;
    color: #5c5c5c;
}
#featured_services p {
    font-size: 14px;
    color: #087fc1;
    margin-top: 32px;
}
#featured_services img {
    width: 25%;
}
#featured_services .xs-border {
    border-bottom: 1px solid #ccc;
    width: 75%;
    text-align: center;
    left: 12.5%;
    position: relative;
    margin-top: 40px;
    margin-bottom: 24px;
}
#featured_services .section-title {
    margin-bottom: 56px;
}
@media (max-width: 991px) {
    #featured_services img {
        width: 20%;
    }
}
@media (max-width: 767px) {
    #featured_services img {
        width: 35%;
    }
    #featured_services h4 {
        font-size: 20px;
    }
    #featured_services p {
        font-size: 16px;
    }
}
.home-page {
    background: url("../images/home/home-page-banner.png");
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;
}
@media (max-width: 991px) {
    .home-page {
        padding-top: 15%;
        padding-bottom: 15%;
        background-position: 40%;
    }
}
@media (max-width: 768px) {
    .home-page {
        padding-top: 32%;
        padding-bottom: 45%;
        background-position: 65%;
    }
}
.key-solutions {
    padding-top: 0px;
    padding-bottom: 64px;
}
.key-solutions .st0 {
    fill: #5C5C5C;
}
.key-solutions .nav-tabs > li.active > a,
.key-solutions .nav-tabs > li.active > a:focus,
.key-solutions .nav-tabs > li.active > a:hover {
    border-width: 0;
}
.key-solutions .nav-stacked > li + li {
    margin-top: 0px;
}
.key-solutions .nav > li > a > svg {
    width: 16%;
    float: left;
    margin-right: 20px;
    position: relative;
    top: -10px;
}
.key-solutions .nav-tabs > li {
    margin-bottom: 0px;
    text-align: left;
}
.key-solutions .nav-tabs > li > a {
    padding: 40px 16px !important;
    color: #5c5c5c;
    background-color: #fff;
    border: 0px;
    border-radius: 0px;
    margin: 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.43);
}
.key-solutions .nav-tabs > li > a:hover,
.key-solutions .nav-tabs > li > a:focus {
    background-color: #fff;
    z-index: 99;
    transition: all 0.5s ease 0s;
}
.key-solutions .nav-tabs > li.active > a {
    color: #FFFFFF;
    background-color: #087fc1;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
    z-index: 3;
}
.key-solutions .nav-tabs > li.active > a .st0 {
    fill: white;
}
.key-solutions .nav-tabs > li.active > a:hover,
.key-solutions .nav-tabs > li.active > a:focus {
    color: #FFFFFF;
    background-color: #087fc1;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease 0s;
}
.key-solutions .tab-content {
    background: #fff;
    border-bottom: 1px solid rgba(204, 204, 204, 0.43);
}
.key-solutions .tab-content .gray-line {
    position: absolute;
    width: 1px;
    height: 80%;
    background: rgba(204, 204, 204, 0.5);
    top: 10%;
    left: 0px;
}
.key-solutions .tab-content .tab-pane {
    text-align: center;
}
.key-solutions .tab-content .tab-pane .bx-padding {
    padding: 8px 24px;
}
.key-solutions .tab-content .tab-pane h3 {
    font-size: 16px;
}
.key-solutions .tab-content .tab-pane .ks-title {
    color: #087fc1;
    margin-top: 8px;
    height: 40px;
}
.key-solutions .tab-content .tab-pane .ks-divider {
    border-bottom: 1px solid #087fc1;
    width: 20%;
    margin-left: 42%;
    margin-top: 24px;
    margin-bottom: 24px;
}
.key-solutions .tab-content .tab-pane .ks-text {
    font-size: 14px;
    height: 130px;
}
.key-solutions .tab-content .tab-pane .ks-knowmore {
    margin-top: 32px;
    margin-bottom: 48px;
    border-radius: 50px;
    padding: 6px 19px;
    text-transform: uppercase;
    font-size: 12px;
}
.key-solutions .section-title h3 {
    color: #232b32;
    margin-top: 0;
}
.key-solutions .section-title p {
    color: #232b32;
    font-size: 18px;
}
.key-solutions .panel-group .panel {
    margin: 0;
}
.key-solutions .panel-group .panel-default {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}
.key-solutions .panel-group .panel-body {
    text-align: center;
}
.key-solutions .panel-group .panel-body .ks-title {
    color: #087fc1;
    margin-top: 8px;
}
.key-solutions .panel-group .panel-body .ks-title h3 {
    font-size: 20px;
}
.key-solutions .panel-group .panel-body .ks-divider {
    border-bottom: 1px solid #087fc1;
    width: 10%;
    margin-left: 46%;
    margin-top: 24px;
    margin-bottom: 24px;
}
.key-solutions .panel-group .panel-body .ks-text {
    padding: 8px 24px;
    font-size: 16px;
}
.key-solutions .panel-group .panel-body .ks-knowmore {
    margin-top: 32px;
    margin-bottom: 48px;
    border-radius: 50px;
    padding: 6px 19px;
    text-transform: uppercase;
    font-size: 12px;
}
.key-solutions .panel-group .panel-heading {
    background: #fff;
    height: 80px;
    padding: 10px;
}
.key-solutions .panel-group .panel-heading img {
    float: left;
    margin-left: 20px;
}
.key-solutions .panel-group .panel-heading .panel-title {
    text-align: center;
    color: #5c5c5c;
}
.key-solutions .panel-group .panel-heading .panel-title svg {
    width: 42px;
    float: left;
    margin-top: 8px;
}
.key-solutions .panel-group .panel-heading .panel-title a {
    margin-top: 20px;
    line-height: 4em;
}
.key-solutions .panel-group .blue-bg {
    background: #087fc1;
    color: #fff;
}
.key-solutions .panel-group .blue-bg .panel-title .st0 {
    fill: white;
}
.key-solutions .panel-group .blue-bg .panel-title a {
    color: #fff;
}
.key-solutions .panel-group .blue-bg .panel-title a:focus {
    color: #fff !important;
}
.why-zippserv {
    background: url("../images/home/WhyzippservBG.png");
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 22%;
}
.why-zippserv .gray-line {
    position: absolute;
    width: 2px;
    height: 66%;
    background: #2dba9d;
    top: 12%;
    left: 50px;
}
.why-zippserv hr {
    width: 200px;
    border-color: #2dba9d;
    border-width: 2px;
}
.why-zippserv .section-title h3 {
    color: #232b32;
}
.why-zippserv .media {
    margin-bottom: 16px;
    padding: 8px;
}
.why-zippserv .media .media-left {
    padding-right: 24px;
    position: relative;
    z-index: 2;
}
.why-zippserv .media img.media-object {
    width: 55px;
}
.why-zippserv .media .media-body {
    font-size: 14px;
}
.why-zippserv .media .media-body .media-heading {
    margin-top: 8px;
    font-size: 16px;
}
@media (max-width: 991px) {
    .why-zippserv {
        background-position: center;
    }
}
@media (max-width: 767px) {
    .why-zippserv {
        background: url("../images/home/WhyzippservBG-mobile.png");
        background-size: cover;
        padding-top: 10%;
        padding-bottom: 30%;
        background-position: 0px 100%;
    }
    .key-solutions .section-title h3 {
        margin-top: -70px;
    }
}
@media (max-width: 467px) {
    .why-zippserv {
        background: url("../images/home/whyzippserve-xs.png");
        background-size: cover;
        padding-top: 6%;
        padding-bottom: 15%;
        background-position: center;
    }
}
.media-cover {
    background: url("../images/home/mediaBG.png");
    background-size: cover;
    padding: 40px 0px;
}
.media-cover .media-logos {
    text-align: center;
    position: relative;
    height: 50px;
}
.media-cover .media-logos img {
    max-height: 90%;
    max-width: 80%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@media (max-width: 991px) {
    .media-cover {
        padding-bottom: 10px;
    }
    .media-cover .media-logos {
        margin-bottom: 30px;
    }
    .media-cover .media-logos img {
        max-height: 100%;
        max-width: 90%;
    }
}
.zippserv-stats {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -68px;
    text-align: center;
}
.zippserv-stats h1 {
    color: #ffba00;
    font-size: 40px;
    margin-bottom: 4px;
    margin-top: 8px;
}
.zippserv-stats p {
    font-size: 14px;
    line-height: 18px;
}
@media (max-width: 767px) {
    .zippserv-stats {
        top: -110px;
    }
    .zippserv-stats h1 {
        font-size: 32px;
    }
    .zippserv-stats p {
        font-size: 12px;
    }
}
@media (max-width: 467px) {
    .zippserv-stats {
        top: -130px;
    }
    .zippserv-stats h1 {
        font-size: 32px;
    }
    .zippserv-stats p {
        font-size: 12px;
    }
}
.testimonials {
    padding-top: 64px;
    padding-bottom: 64px;
}
.testimonials .carousel-3d-container {
    padding-top: 16px;
    padding-bottom: 16px;
}
.testimonials .carousel-3d-container .carousel-3d-slide {
    margin: 2px;
    border-radius: 15px;
    padding: 20px;
}
.testimonials .carousel-3d-container .carousel-3d-slide.current {
    border-color: #2dba9d;
}
.testimonials .carousel-3d-container .carousel-3d-slide.current p {
    color: #5c5c5c;
}
.testimonials .carousel-3d-container .carousel-3d-slide.current .title {
    color: #2dba9d;
}
.testimonials .carousel-3d-container .carousel-3d-slide.current span {
    color: #5c5c5c;
}
.testimonials .carousel-3d-container .carousel-3d-slide p {
    font-size: 14px;
    padding-top: 0px;
    line-height: 1.5em;
    color: #b1b1b1;
}
.testimonials .carousel-3d-container .carousel-3d-slide .title {
    color: #b1b1b1;
    font-size: 18px;
}
.testimonials .carousel-3d-container .carousel-3d-slide span {
    font-size: 12px;
    color: #b1b1b1;
}
@media (max-width: 991px) {
    .testimonials .carousel-3d-container .carousel-3d-slider {
        height: 400px !important;
        width: 350px !important;
    }
    .testimonials .carousel-3d-container .carousel-3d-slide {
        height: 400px !important;
        width: 350px !important;
    }
    .testimonials .carousel-3d-container .carousel-3d-slide img {
        width: 40%;
        display: -webkit-box;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
    }
}
@media (max-width: 767px) {
    .testimonials .carousel-3d-container .carousel-3d-slide {
        height: 400px !important;
        width: 100% !important;
    }
    .testimonials .carousel-3d-container .carousel-3d-slide img {
        width: 40%;
    }
}
@media (max-width: 467px) {
    .testimonials p {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .testimonials .carousel-3d-container .carousel-3d-slide {
        height: 350px !important;
        width: 320px !important;
        padding: 12 2px;
    }
    .testimonials .carousel-3d-container .carousel-3d-slide img {
        width: 40%;
    }
}
@media (max-width: 320px) {
    .testimonials p {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .testimonials .carousel-3d-container .carousel-3d-slide {
        height: 350px !important;
        width: 280px !important;
        padding: 12 2px;
    }
    .testimonials .carousel-3d-container .carousel-3d-slide img {
        width: 40%;
    }
}
.light-bg {
    background: #f5f5f5;
}
.timeline {
    background: url(../images/about/JourneyBG.png);
    height: 100%;
    background-size: cover;
    margin-bottom: 32px;
    padding: 32px 0px;
    display: grid;
}
.timeline img {
    padding: 20px;
}
.timeline .about-title {
    color: #fff;
    margin-bottom: 32px;
    text-align: center;
}
.zippmedia .about-title {
    color: #464a5c;
    margin-bottom: 32px;
}
.zippmedia .media-box {
    display: inline-block;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 24px;
}
.zippmedia .media-box hr {
    border-color: #d7d7d7;
}
.zippmedia .media-box .p-16 {
    padding: 4px 16px 16px 16px;
}
.zippmedia .media-box-img {
    margin: 24px 0px 32px 0px;
    height: 30px;
    width: 100%;
}
.zippmedia .media-box-img img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.zippmedia .media-box-img img.yourstory {
    width: 25%;
}
.zippmedia .media-box-text h5 {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    min-height: 65px;
    padding-top: 8px;
}
.zippmedia .media-box-text p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 24px;
    min-height: 120px;
}
.zippmedia .media-box-btn {
    position: relative;
    bottom: 0;
}
.zippmedia .media-box-btn a {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #087fc1;
    font-size: 14px;
}
@media (max-width: 991px) {
    .zippmedia .media-box-img img {
        width: 60%;
    }
    .zippmedia .media-box-img img.yourstory {
        width: 20%;
    }
}
@media (max-width: 767px) {
    .zipp-begins {
        padding-top: 0px;
    }
    .zippmedia .media-box-img {
        height: 65px;
    }
    .zippmedia .media-box-img img {
        width: 60%;
    }
    .zippmedia .media-box-img img.yourstory {
        width: 15%;
    }
}
@media (max-width: 467px) {
    .zippmedia .media-box-img {
        height: 30px;
    }
    .zippmedia .media-box-img img.yourstory {
        width: 20%;
    }
}
.white-box-layout {
    background: #fff;
    padding: 48px 32px;
    height: 100%;
    margin-top: 32px;
    display: inline-block;
}
.white-box-layout .about-title {
    color: #464a5c;
    /* padding-top: 32px; */
}
.white-box-layout .about-title-subheading {
    font-size: 32px;
    color: #087fc1;
    margin-top: 48px;
}
.white-box-layout p {
    color: #5c5c5c;
    margin-top: 24px;
    line-height: 24px;
    padding-right: 24px;
}
.white-box-layout p .mail-link {
    color: #087fc1;
}
.white-box-layout.careers {
    padding-top: 0;
}
.white-box-layout.careers .about-title {
    padding: 0;
}
.white-box-layout.thebeginning {
    background: url(../images/about/TheBeginninghouse.png);
    background-size: cover;
    height: 550px;
    background-position: 50%;
}
.white-box-layout.whatwedo {
    text-align: right;
    background: url(../images/about/WhatWeDohouse.png);
    background-size: cover;
    margin-bottom: 32px;
    padding-bottom: 147px;
}
.white-box-layout.whatwedo p {
    padding: 0;
}
.white-box-layout.founders {
    text-align: left;
    background: url(../images/about/Founderspic.png);
    background-size: cover;
    background-position: 70%;
    margin-bottom: 32px;
    padding-top: 40px;
    padding-bottom: 64px;
}
.white-box-layout.founders .about-title-subheading {
    font-size: 18px;
    color: #087fc1;
    margin-top: 48px;
}
.white-box-layout.founders hr {
    border-color: #e1e1e1;
    margin-top: 44px;
}
.white-box-layout.founders p {
    font-size: 13px;
    line-height: 20px;
}
.white-box-layout.founders .social-icons a {
    color: #a8a8a8;
    margin: 0px 5px;
}
@media (max-width: 991px) {
    .white-box-layout {
        padding: 24px 16px;
    }
    .white-box-layout .house-img img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .white-box-layout.thebeginning {
        height: 100%;
        background: #fff;
        text-align: center;
    }
    .white-box-layout.whatwedo {
        background: #fff;
        height: 100%;
        text-align: center;
    }
    .white-box-layout.founders {
        height: 100%;
        background: #fff;
        padding-bottom: 0;
    }
    .white-box-layout .about-title {
        padding-top: 8px;
        margin-bottom: 32px;
    }
    .white-box-layout .about-title-subheading {
        font-size: 24px;
        margin-top: 32px;
    }
    .white-box-layout p {
        font-size: 14px;
        margin-top: 16px;
        line-height: 24px;
        padding-right: 0px;
    }
}
@media (max-width: 767px) {
    .white-box-layout {
        padding: 16px 8px;
    }
    .white-box-layout.founders {
        padding-bottom: 0;
        padding-top: 12px;
        margin-bottom: 4px;
        text-align: center;
    }
    .white-box-layout.founders .social-icons {
        display: block;
        margin-top: 16px;
    }
    .white-box-layout.whatwedo {
        padding-bottom: 24px;
    }
    .white-box-layout .house-img img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 467px) {
    .white-box-layout .house-img img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.modal {
    text-align: center;
}
.modal-body {
    display: inline-block;
    padding-top: 0;
}
.modal-dialog {
    width: 320px;
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
@media (max-width: 350px) {
    .modal-dialog {
        width: 320px;
    }
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
#askaquestion .modal-header {
    text-align: center;
    color: #087fc1;
    border: none;
    padding: 24px;
}
#askaquestion .modal-header h4 {
    font-size: 18px;
}
#askaquestion .modal-body {
    width: 100%;
}
#askaquestion .modal-content {
    border: none;
    border-radius: 15px;
}
#askaquestion .form .form-control {
    background: #f3f3f3;
}
#askaquestion .form textarea {
    border-radius: 16px;
}
#askaquestion .form button.btn {
    font-size: 16px;
    width: 100%;
}
#login .loginBtn {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 5px 15px 5px 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 14px;
    color: #FFF;
    border-radius: 25px;
    text-align: center;
}
#login .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
#login .loginBtn:focus {
    outline: none;
}
#login .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}
#login .loginBtn--facebook {
    background-color: #3b5998;
    text-shadow: 0 -1px 0 #354C8C;
}
#login .loginBtn--facebook:before {
    background: url("../images/icon_facebook.png") 14px 11px no-repeat;
}
#login .loginBtn--facebook:hover {
    background-color: #3b5998;
}
#login .loginBtn--facebook:focus {
    background-color: #3b5998;
}
#login .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    
    background: #fff;
    color: #5c5c5c;
    border: 1px solid rgba(204, 204, 204, 0.45);
}
#login .loginBtn--google:before {
    background: url("../images/icon_google.png") 13px 10px no-repeat;
}
#login .loginBtn--google:hover {
    background: #fff;
}
#login .loginBtn--google:focus {
    background: #fff;
}
#login .no-account {
    font-size: 12px;
    color: rgba(92, 92, 92, 0.5);
}
#login .no-account a {
    font-size: 12px;
    color: #087fc1;
}
#login .modal-header {
    text-align: center;
    color: #087fc1;
    border: none;
    padding: 24px 24px 0px 24px;
}
#login .modal-header h4 {
    font-size: 18px;
}
#login .modal-header .or-line hr {
    margin: 15px 0px;
}
#login .modal-header .or-line p {
    color: #5c5c5c;
    margin-top: 7px;
}
#login .modal-body {
    width: 100%;
}
#login .modal-content {
    border: none;
    border-radius: 15px;
}
#login .form .forgot-password {
    color: #087fc1;
    font-size: 12px;
}
#login .form .policy {
    font-size: 12px;
    color: #5c5c5c;
}
#login .form .policy a {
    color: #087fc1;
}
#login .form .checkbox {
    margin-top: 0px;
}
#login .form .checkbox label {
    font-size: 12px;
    color: rgba(92, 92, 92, 0.5);
}
#login .form .checkbox label input[type=checkbox] {
    margin-top: 2px;
}
#login .form .form-control {
    background: #fff;
    padding: 20px 16px;
}
#login .form textarea {
    border-radius: 16px;
}
#login .form button {
    font-size: 16px;
    width: 100%;
}
/* city selector modal*/
.arrow_box {
    position: absolute; 
    top: 40px; 
    background: rgb(232, 232, 232) none repeat scroll 0% 0%; 
    width: 300px; 
    text-align: center; 
    z-index: 2147483647; 
    padding: 25px; 
    margin-left: -9%;
    border-radius: 8px;
    display: none;
}
.arrow_box:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(232, 232, 232, 0);
    border-bottom-color: #e8e8e8;
    border-width: 15px;
    margin-left: 25px;
}
.arrow_box button.loca{
    color:#858585;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    text-align: left;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 8px;
}
.arrow_box .loca i{
    margin-top: 3px;
}
.arrow_box p{
    font-size: 14px;
}
.arrow_box .location{
    width: 100%;
}
.select-overlay {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: none;
}
.arrow_box .dropdown{
  z-index: 999999;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
    .arrow_box{
    width:auto !important;
    }
}
    
/*# sourceMappingURL=main.css.map */

/* Zippserv Overrides */
body{
    line-height: 1.2 !important;
}
.social-icons a{
    color: #fff;
}
.navbar-default .navbar-nav > li > a.btn-menu:hover,
.navbar-default .navbar-nav > li > a.btn-menu:focus {
    color: #087fc1 !important;
}
.navbar-right .header_cart_icon {
    background-position: -123px -130px;
    width: 26px;
    height: 22px;
    box-sizing: content-box !important;
    text-decoration: none;
    font-family: 'Proxima-Regular' !important;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    padding: 14px 12px;
    display: block;
    text-transform: initial;
}
.navbar-right .cartitems{
    padding: 1px;
    width: 17px;
    height: 17px;
    text-align: center;
    float: left;
    position: absolute;
    top: 3px;
    left: 33px;
    font-size: 12px;
    font-weight: normal;
    background-color: #2dba9d;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
/*.jumbotron{
    margin-top:0px;
}*/
.zippserv-index-index .main-container{
    margin-top:-75px;
    overflow:visible;
}
#contact_zippserv .section1 {
    background: url(../images/home/formimage.jpg);
    background-size: cover;
}
#contact_zippserv .section2{
    padding-top: 32px;
    padding-bottom: 32px;
}
#contact_zippserv .section1, #contact_zippserv .section2 {
    height: 420px;
}
#login .form .forgot-password{
    margin-bottom: 10px;
}
#login .sign-up-terms{
    font-size: 13px;
    color: #087fc1;
}
.footer p{
    line-height: 1.5em;
}
.small_txt{
    font-size:13px;
    line-height: 1.5em;
}
#login .no-account{
    font-size:13px;
}
.modal-dialog {
    width: 360px;
}
@media (max-width: 350px) {
    .modal-dialog {
        width: 350px;
    }
}
.testimonial-module .media-body p{
    font-size: 14px;
    line-height: 1.5em;
}
.cms-about-us .std, .landing-page .std{
    margin:0px;
    padding:0px;
}
.cms-about-us .col1-layout .main, .landing-page .col1-layout .main{
    width: 100%;
    padding-top: 0;
    border-bottom: 0;
}
.cms-about-us .col1-layout .col-main, .landing-page .col1-layout .col-main{
    background-color: inherit;
    padding:0px;
    box-shadow: none;
    margin-bottom: 0px;
}
.timeline {
    overflow:auto;
}
body:not(.zippserv-index-index):not(.catalog-category-view) .navbar-default {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.process p a, .faq a, .product_user_profile a, .cart-empty a, .checkout-onepage-success .my-account a,
.data-table a,.privacypolicy_page_container a, .terms_page_container a, .inboxTable a{
    color: #087fc1;
}
.review-base p,.review-region .review-desciption p,.review-module .star_rating,.product_user_profile p{
    font-size: 14px;
}
.checkout-onepage-success .my-account p,.checkout-onepage-success .my-account .sub-title{
    padding: 0 15px;
}
#scheduleShipment .modal-body{
    width:100%;
    padding:0;
}
.zip-modal .modal-header{
    font-family: 'Proxima-Semi';
}
.zip-modal .modal-header {
    text-align: center;
    color: #087fc1;
    border: none;
    padding: 24px;
}
.zip-modal .modal-header h4 {
    font-size: 18px;
}
.zip-modal .modal-body {
    width: 100%;
}
.zip-modal .modal-content {
    border: none;
    border-radius: 15px;
}
.zip-modal .form .form-control {
    background: #f3f3f3;
}
.zip-modal .form textarea {
    border-radius: 16px;
}
.zip-modal .form button.btn {
    font-size: 16px;
    width: 100%;
}
.zip-modal p.footnote{
    font-size:14px;
    color: rgba(92, 92, 92, 0.5);
    padding-top:10px;
    line-height: 1.5em;
}
.zip-modal p.footnote a{
    font-size:13px;
    color: #087fc1;
}
.review-module p, .review-base p{
    line-height:1.5em;
}
.builder-info{
    background: url(../images/landing/builder-review-banner.jpg); 
}
.zippchecks{
    background: url(../images/landing/fold2-BG.jpg); 
}
.landing-page .main-container{
    margin-top:-75px !important;
    overflow:visible !important;
}
.landing-page .navbar-default {
    box-shadow: none !important;
}
.landing-page #featured_services{
    background:#fff;
}
#featured_services .service_link{
  color: #5c5c5c;  
}
#featured_services .service_link:hover{
    color: #232b32;
}
.why-zippserv .text-center{
    margin: auto !important;
    width: 200px;
}
.home-page {
    background-image: url("../images/home/home-page-banner.jpg");
}
.jumbotron.home-page h1{
    text-transform: capitalize;
}
.media-cover {
    background-image: url("../images/home/mediaBG.jpg");
}
@media (min-width: 768px){
    .why-zippserv {
        background-image: url("../images/home/WhyzippservBG.jpg");
    }
}

@media only screen and (min-width: 468px) and (max-width: 767px) {
    .why-zippserv {
        background-image: url("../images/home/WhyzippservBG-mobile.jpg");
    }
}
.white-box-layout.founders {
    background-image: url(../images/about/Founderspic.jpg);
}
.timeline {
    background-image: url(../images/about/JourneyBG.jpg);
}
@media (min-width: 992px){
    .white-box-layout.thebeginning {
        background-image: url(../images/about/TheBeginninghouse.jpg);
    }
    .white-box-layout.whatwedo {
        background-image: url(../images/about/WhatWeDohouse.jpg);
    }
}
#login .form .forgot-password {
    font-family: 'Proxima-Regular';
}
/* Firefox and IE 11 fixes to keep placeholder text in place */
#contact_zippserv .section2.white-bg form .form-control {
    height: auto;
    padding: 8px 16px;
}
.zip-modal .form .form-control {
    height: auto;
    padding: 8px 16px;
}
#login .form .form-control {
    padding: 8px 16px;
    height: auto;
}
#askaquestion .form .form-control {
    height: auto;
    padding: 8px 16px;
}
/*START: Browser Fixes for dropdown icon in IE 11 & Fireforx*/
.navbar-default .dropdown-menu > li > a, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover{
    position: relative;
}
.navbar-default .dropdown-menu li i{
    right: 15px;
    position: absolute;
}
.navbar-default .navbar-nav > li > a i{
    float: none !important;
}
/*END: Browser Fixes for dropdown icon in IE 11 & Fireforx*/
.store-location::before{
    font-family: 'FontAwesome';
    content: '\f041';
    font-size: 18px;
    padding-right: 6px;
    color: #e84c3d;
    float: left;
    padding-top: 5px;
}
/*.section {
    padding-top: 24px;
}*/
.reviews-section{   
    background-color: #fff;
    position: relative;
}
.reviews-section .review-stars {
    font-size: 22px;
    font-family: "Proxima-Bold";
}
.reviews-section .reviews {
    height: 600px;
    margin-top: 16px;
    margin-bottom: 16px;
    overflow: auto;
    border: 1px solid #eee;
}
.reviews-section .reviews .review-box {
    padding: 16px 24px;
}
.reviews-section .reviews .review-box .review-box-header {
    display: inline-block;
}
.reviews-section .reviews .review-box .review-box-body {
    padding: 16px 0px;
    padding-bottom: 0;
}
.reviews-section .reviews .review-box .review-box-header .review-box-stars {
    display: flex;
}
.reviews-section .reviews .review-box .review-box-header .review-box-stars .star-color {
    background: #FEBA12;
    border-radius: 50px;
    display: inline-block;
    padding: 4px 12px;
    color: #fff;
}
.reviews-section .reviews .review-box .review-box-header .review-box-stars h5 {
    margin: 0;
    font-size: 16px;
    font-family: "Proxima-Bold";
    padding: 4px 12px;
}
.reviews-section .reviews .review-box .review-box-body p {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 48px;
}
.reviews-section .reviews .review-box .review-box-body p.reviewer {
    margin-bottom: 0px;
    font-style: italic;
    color: #909090;
}
.reviews-section .reviews hr {
    margin: 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.zippserv-index-profile .main-container{
    background:#FFF;
}
.zippserv-index-profile .main-container .main{
    padding-top: 0px;
}
.zippserv-index-profile .main, .catalog-product-view .main {
    width: 100% !important;
}
.btn-load-more{
    color: #087fc1;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 10px;
    display: inline-block;
}
.widget-listing a.btn-load-more:hover, .widget-listing a.btn-load-more:focus{
    color: #087fc1 !important;
}
.dashed {
    border-bottom: 1px dashed #000;
    text-align: center;
    height: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.dashed span {
    background: #fff;
    padding: 0 5px;
    color: #087fc1;
    font-family: Proxima-Semibold;
}
.review-filter{
    margin-top:25px;
    margin-bottom:10px;
    width: 150px;
}
.review-filter .caret{
    margin-left: 5px;
}
.review-filter .btn-secondary{
    border-radius:0;
    background: transparent;
    border-color: #087fc1;
    color: #087fc1;
    font-weight: 600;
    width: 100%;
}
.review-filter .dropdown-menu{
    border-radius:0;
    min-width:auto;
    width: 100%;
}
.review-filter .dropdown-menu>li>a
{
    color:#087fc1;
}
.review-filter .dropdown-menu>li>a:focus, .review-filter .dropdown-menu>li>a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #087fc1;
}
@media (max-width: 768px) {
    .review-filter{
        margin-top:14px;
    }
}
.catalog-product-view .reviews-section{
    background-color: #f0f0f0;
}
.catalog-product-view .reviews-section .dashed span{
    background-color: #f0f0f0;
}
.catalog-product-view .reviews-section .reviews{
    border: 1px solid #fff;
}
/*For Cart Page*/
.cart tbody tr td {
    vertical-align: top;
    padding: 8px 0px 0px 16px;
}
.cart tbody tr.hr-bar hr {
    width: 90%;
}
.font-size{
    font-size: 15px;
}
.cart-table .product-name{
    color: #087fc1;
}
.cart-table a{
    color: #2f2f2f;
}
#shopping-cart-table th{
    background: #087fc1;
    color: #fff;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.cart form {
    padding: 0;
}
.cart-header {
    font-family: "Proxima-Regular";
    margin: 0;
    color: #464a5c;
    padding: 15px 0px 16px 20px;
}
.page-title h3 {
    font-size: 28px;
    border-top: 6px solid #0b7dbc;
}
.red-color{
    color: #f50505;
}
.cart .totals {
    width: 100%;
    border: none;
    padding-right: 3%;
}

@media only screen and (max-width : 1200px) {
    #shopping-cart-table {
        width: 100%;
    }
}

@media only screen and (max-width : 979px) {
     #shopping-cart-table {
        width: 100% !important;
        font-size: 12px !important;
    }
    #shopping-cart-table .hide-this{
        display: none;
    }
    table#shopping-cart-table th {
        font-size: 11px;
    }
    #shopping-cart-table thead th, #shopping-cart-table tbody td{
        width: auto;
    }
    #shopping-cart-table tbody td.a-center {
        width:11% !important ;
    }
}

@media only screen and (max-width : 767px) {
    #shopping-cart-table {
        width: 100%;
    }
}

@media only screen and (max-width : 480px) {
    #shopping-cart-table, .order-review table {
        width: 100% !important;
        font-size: 11px !important;
    }
    #shopping-cart-table .hide-this, .hide-tr{
        display: none;
    }
    table#shopping-cart-table th {
        font-size: 11px;
    }
    #shopping-cart-table thead th, #shopping-cart-table tbody td{
        width: auto;
    }
    #shopping-cart-table tbody td.a-center {
        width:10% !important ;
    }

}

@media only screen and (max-width : 320px) {
    #shopping-cart-table {
        width: 100%;
    }
}
.checkout-types li button{
    float: right;
}
#shopping-cart-table span.cartname{
    float: none !important;
}
#shopping-cart-table thead th {
    text-align: center !important;
}

/*For Checkout*/
.z-page-title{
    border-bottom: none;
    margin: 0;
    margin-bottom: -24px
}
#opc-billing{
    margin: 0;
}
/*.section{
    padding-top: 0;
}*/
.opc .section .step-title {
    background: #087fc1;
    text-transform: uppercase;
    padding: 9px 16px 9px 16px;
    color: #fff;
}
.opc .active .step-title .number, .opc .allow .step-title .number, .opc .step-title .number {
    color: #087fc1;
    padding: 2px 8px;
    border-radius: 1px;
    background: #fff;
    margin: 0 16px;
    font-size: 12px;
    border-color: #fff;
}
.opc .active .step-title h2, .opc .allow .step-title h2, .opc .step-title h2 {
    background: #087fc1;
    text-transform: uppercase;
    padding: 3px 0px 0px 0px;
    color: #fff;
    font-size: 15px;
    font-family: 'Proxima-Regular';
    font-weight: normal;
}
#co-billing-form fieldset, #checkout-step-payment fieldset, #opc-review #checkout-step-review{
    border: none;
    padding: 0px 20px 0px 20px;
}

/*For Payment method*/
.sp-methods .radio{
    height:100%;
}
/* .sp-methods .radio input[type=radio]{
    top: -20%;
} */
.sp-methods img {
    width: 140px;
}
span.sub-title {
    font-size: 12px;
}

/*For Billing*/
input[type=radio]{
    margin: 0;
}
.form-control{
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 4px;
}
.form-list input{
    box-sizing: inherit !important;
}
.form-control:focus{
    border-color: #ccc;
}

/*CSS for Checout Review*/
#checkout-review-table .product-heading{
    color: #087fc1;
    font-size: 16px;
    font-family: "Proxima-Semi";
}
tbody tr.h-20{
    height: 20px;
}
.form-group input[type=text]{
    width: 100%;
}

#checkoutSteps li.section i.check-check{
    display:none;
}
#checkoutSteps li.allow:not(.active) i.check-check{
    display: block;
}
.checkout-onepage-index .main{
    padding-bottom: 20px;
}
#co-billing-form > fieldset, #opc-payment #checkout-step-payment, #opc-review #checkout-step-review{
    border: none;
}
#billing-new-address-form input[type=text]{
    border-radius: 4px;
    height: 38px;
    border-color: #ccc;
}
.checkout-onepage-index .form-list select{
    width: 100%;
    box-sizing: inherit !important;
}
.checkout-zip-seal {
    text-align: inherit;
    margin: 10px 10px;
}
.checkout-zip-seal img {
    height: 64px;
}
#checkout-step-review h2.product-name{
    color: #087fc1;
}
#checkout-step-review .on-checkout-hide{
    display: none;
}
/* Category page UI enhancements - July 2017 */
.catalog-category-view .main-container{
    margin-top:-75px !important;
    overflow:visible !important;
}
section.category-breadcrumb{
    background-color: #f4f4f4;
    padding-top: 3%;
    padding-bottom: 1%;
}
section.category-breadcrumb h1.breadcrumb-header{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Proxima-Bold';
    color: #5c5c5c;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
}
section.category-breadcrumb h1.breadcrumb-header a {
    color: #087fc1;
    font-family: 'Proxima-Regular';
}
section#how-it-works{
  background: #f4f4f4;
}
section#how-it-works .tab-pane {
  padding: 20px; 
}
section#how-it-works .media-object {
  width: 50px; 
}
@media (max-width: 991px) {
    section#how-it-works .media-object {
        width: 30px; 
    } 
}
section#how-it-works .media-body h3 {
    margin-top: 0px;
    line-height: 19px; 
}
section#how-it-works .media-body .ks-title {
    text-align: left;
    margin-top: 0; 
}
section#how-it-works .media-body .ks-text {
    height: 50px !important;
}
@media (max-width: 1199px) {
    section#how-it-works .media-body .ks-text {
        height: 80px !important;
    } 
}
@media (max-width: 991px) {
    section#how-it-works .media-body h3 {
        font-size: 14px; 
    }
    section#how-it-works .media-body .ks-title {
        height: 50px; 
    } 
}
section#how-it-works .nav-tabs > li.active > a .cls-1 {
    stroke: #fff; 
}
section#how-it-works .nav-tabs > li.active > a .cls-2 {
    fill: #fff; 
}
section#how-it-works .nav-tabs > li.active > a .cls-3 {
    stroke: #fff;
    fill: #fff; 
}
section#how-it-works .tab-content .tab-pane .ks-title{
    margin-top:0px !important;
}
section#how-it-works .pdf-report {
    margin-top: 16px; 
    margin-bottom: 24px; 
}
section#how-it-works .pdf-report a {
    color: #5c5c5c; 
}
section#how-it-works .pdf-report img {
    width: 20px; 
}
section#how-it-works #accordion3 .media .ks-title h3 {
    font-size: 14px; 
}
section#how-it-works #accordion3 .media .ks-text {
    text-align: left;
    padding-left: 0;
    padding-top: 0; 
}
section#how-it-works #accordion3 .pdf-report {
    margin-top: 16px; 
}
section#how-it-works #accordion3 .panel-title a .cls-1 {
    stroke: #fff; 
}
section#how-it-works #accordion3 .panel-title a .cls-2 {
    fill: #fff; 
}
section#how-it-works #accordion3 .panel-title a .cls-3 {
    stroke: #fff;
    fill: #fff; 
}
section#how-it-works #accordion3 .panel-title a.collapsed .cls-1 {
  stroke: #5c5c5c; 
}
section#how-it-works #accordion3 .panel-title a.collapsed .cls-2 {
  fill: #5c5c5c; 
}
section#how-it-works #accordion3 .panel-title a.collapsed .cls-3 {
  stroke: #5c5c5c;
  fill: #5c5c5c; 
}
section#how-it-works.key-solutions .nav-tabs > li > a span,section#how-it-works.key-solutions .panel-title a span{
    text-transform:uppercase;
}

.number-bullet{
    color: white;
    background: #087fc1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius : 4px;
}
.blue-check{
    color:#087fc1;
    font-size:18px;
}
.media-left .fa-stack{
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
}
.media-left .fa-stack .fa-stack-2x{
    font-size: 1.5em;
}
.row-eq-height, .row-eq-height > div:not(.no-flex){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  .key-solutions .nav > li > a > svg {
    width: 14% !important;
    float: left;
    margin-right: -35px;
    position: relative;
    top: -61px;
  }
  .key-solutions .nav-tabs > li > a {
    padding: 48px 13px 32px 23px !important;
    color: #5c5c5c;
    background-color: #fff;
    border: 0px;
    border-radius: 0px;
    margin: 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.43);
    text-align: center;
  }
  .key-solutions .nav > li > a > span{
      margin-left:20px;
  }
}
#documentFrame .modal-body{
    width: 100%;
    height: 100%
}
a[data-target="#orderPageSample"]{
    color: #087fc1;
}
a[data-target="#documentFrame"]:before{
    font-family: 'FontAwesome';
    content: '\f1c1';
    font-size: 20px;
    font-weight:bolder;
    padding-right: 6px;
    color: #EC1F26;
}
#orderPageSample img{
    width:100%;
}
#orderPageSample .modal-body{
    padding: 0px;
    overflow-y: auto;
    height: 450px;
}
@media screen and (min-width: 768px) {
    #how-it-works .modal-dialog {
        width: 700px;
    }
}
@media screen and (min-width: 992px) {
    #how-it-works .modal-dialog {
        width: 950px;
    }
}
.cat-banner.jumbotron {
    background: url("../images/lawyers/lawyer_banner.png");
    background-size: cover;
    padding-top:10%;
    padding-bottom: 10%;
}
.cat-banner.jumbotron .jumbotron-text .about-title h3 {
  color: #464a5c; 
}
@media (max-width: 768px) {
    .cat-banner.jumbotron{
        padding-top:20%;
    }
}
/*product list page changes 26 July 2017 */
.lawyers-widget .btn-load-more:focus, .lawyers-widget .btn-load-more:hover{
    color: #087fc1 !important;
}
@media (max-width: 768px){
    .cards-module .image-holder {
        width: 35%;
        margin-top: -30px;
        float: left;
    }
    .user-name {
        margin-bottom: -18px;
    }
    .cards-module ul.user-details li.mt-24 {
        /* margin-left: 96px; */
        margin-top: 26px !important;
        margin-left: 37%;
        font-size: 11px;
    }
    .cards-module .prof-activity {
        width: 60%;
        float: left;
        padding: 3% !important;
        margin-top: -18px;
    }
    .cards-module .prof-activity .history-icon {
        float: left;
    }
    .cards-module .prof-activity .history-icon img {
        width: 25px;
        font-size: 13px;
    }
    .cards-module .prof-activity ul {
        float: left;
        white-space: nowrap;
    }
    .cards-module .prof-activity ul li {
        font-size: 11px !important;
        padding: 3px 6px!important;
    }
    /*Product Page CSS Media Query*/
    .cards-module .module-title{
        margin-left: 36%;
        margin-top: -15px;
        margin-bottom: 10px;  
    }
}
/* Media Query Ends */
.section-title h2{
    font-size: 32px;
}
.lawyers-widget {
    padding-bottom: 24px;
}
.cards-module {
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    color: #5c5c5c;
    margin-bottom: 24px;
    background: #fff;
    width: 98%;
    box-shadow: 0px 0px 15px 1px #c7c7c7;
}
.cards-module ul.user-details {
    padding: 16px;
    padding-bottom: 4px;
    margin-bottom: 0;
}
.cards-module ul {
    list-style: none;
    padding: 0;
}
.cards-module a,.cards-module a:focus,.cards-module a:hover, .cards-module ul.user-details span.total_no_rate {
    color: #087fc1;
}
.cards-module ul.user-details li.mt-24 {
    margin-top: 12px;
    font-size: 12px;
    margin-bottom: 12px
}
.cards-module .image-holder {
    position: relative;
}
.cards-module .image-holder span {
    background-color: #ca3e6b;
    font-size: 18px;
    color: #fff;
    padding: 2.2% 7%;
    position: absolute;
    bottom: 0px;
    font-family: 'Proxima-Semi';
}
.cards-module .prof-activity {
    position: relative;
    font-size: 16px;
    padding: 10px;
}
.cards-module .prof-activity .history-icon {
    display: inline-block;
    padding-right: 2px;
    vertical-align: middle;
    width: 18%;
}
.cards-module .prof-activity ul {
    display: inline-block;
    vertical-align: middle;
    width: 78%;
}
.cards-module .prof-activity ul li {
    font-size: 11px;
    text-align: left;
    padding: 6px 10px;
}
.cards-module .btn-group .btn-default {
    border: none;
    border-radius: 0px;
    padding: 15px 0px;
    font-size: 13px !important;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.cards-module .btn-group a, .cards-module .btn-group a:hover {
    color: #fff;
}
.cards-module .btn-group .call {
    background: #2eba9d;
    border-bottom-left-radius: 8px;
}
.cards-module .btn-group .order {
    background: #0b7dbb;
    border-bottom-right-radius: 8px;
}
/*CSS update for product page 27 July 2017*/
.cards-module .module-title{
    padding: 0px 10px 0px 10px;
    height: 60px;
}
.cards-module .module-title h4{
    font-size: 14px;
    line-height: 1.4em;
}
.zippserv-index-profile .lawyers-widget{
    background-color: #f4f4f4;
}
.lawyers-widget .heading{
    margin-bottom: 20px;
}

/* Exit Modal */
#exitModal .modal-text{
	text-align: left;
	padding: 24px;
	margin: 4px 0px;
}
#exitModal .modal-img{
	width: 140px;
	margin-bottom: -15px;
	max-width: 100%;
	text-align: center;	
}
#exitModal h3{
	color: #087fc1;
	font-size: 20px;
}
#exitModal p {
    margin: 0 0 15px;
    font-size: 13px;
    line-height: 20px;
}
#exitModal .modal-submit {
    padding: 15px;
    text-align: center;
    border-top: none;
}
#exitModal .btn-phone{
	border-radius: 20px;
	/*margin-top: 20px;*/
	background-color: #f7f7f7;
}
#exitModal .btn-submit {
	padding: 8px 25px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 20px;
	color: #fff;
	background-color: #2eba9d;
}
#exitModal .modal-close {
    border-radius: 25px !important;
    padding: 3px 7px !important;
    margin: -13px -9px 0 0 !important;
    background-color: #ccc !important;
}
#exitModal .form-control {   
     padding: 0px 20px; 
}

@media only screen and (min-width : 1224px) {
    #exitModal .modal-dialog {
        width: 525px !important;
    } 
    #exitModal .modal-img {
        width: 142px !important;
        margin-bottom: -12px !important;
        margin-top: 38px !important;
    }
    #exitModal.modal-body {
        position: relative;
        padding: 8px !important;
    }
}

/* Exit Modal */
/* New Category Header */
.cat-banner .hb-left h5{
    text-align: left;
    font-weight: bold;
}
.cat-banner .hb-right h5{
    text-align: left;
    font-weight: bold;
}
.cat-banner .hb-tickmark{
    width: 28px;
    margin-right: 20px;
}
.cat-banner .navbar-default {   
    background-color: #fff !important;
}   
.cat-banner .hb-btn2:focus, .cat-banner .hb-btn2:hover
{
    color: #fff;
    background-color: #03344f !important;
    text-decoration: none;
}
.btn-choose-lawyer:focus, .btn-choose-lawyer:hover
{
    color: #fff;
    background-color: #165b4d !important;
    text-decoration: none;
}
@media (max-width: 768px){
    .cat-banner .jumbotron-text h2 {
            font-size: 19px !important;
        } 
    .cat-banner .hb-text h5{
        font-size: 14px;
    }  
    .cat-banner .hb-tickmark {
		width: 18px !important;
	} 
    .cat-banner .btn-primary {
        font-size: 12px !important;       
    }
    .cat-banner .jumbotron-text {
            padding: 60px 30px 0px 30px !important;
    }
    .cat-banner .hb-row{
        margin-top: -12px;
    }
    .cat-banner .hb-right h5 {
        text-align: left !important;
        font-size: 14px !important;
    }
    .cat-banner .hb-left h5 {
        font-size: 14px !important;
    }
    .cat-banner .hb-btn2{
        margin-right: 15px;
    }
}
/* New Category Header */
.custom-dropdown ul.navbar-nav > li{
    border-bottom: 1px solid #ccc;
}
/* Home loan CMS page*/
.landing-page .jumbotron.home-loan{
    background: url(../images/landing/homeloan-banner.png);
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
}
.key-solutions.home-loan {
    padding-top: 64px;
}
.key-solutions.home-loan .adv_homeloan {
    margin-top: 2%;
    margin-bottom: 2%;
}
.key-solutions.home-loan .adv_homeloan img {
    margin-top: 15px;
}
    
@media (max-width: 768px){
    .landing-page .jumbotron.home-loan .jumbotron-text
    {
        padding: 60px 30px 0px 30px !important;
    }
   .landing-page .jumbotron.home-loan .btn-primary {
       font-size:13px;
   }
   .landing-page .jumbotron.home-loan h3{
       font-size: 18px;
   }
   .landing-page .jumbotron.home-loan  h1 {
        font-size: 28px;
        line-height: 1.2em;
    }
    .key-solutions.home-loan .adv_homeloan h5{
        font-size:13px;
    }
}
/* Home loan CMS page*/
.top-nav .phone-number a{
    color:#23527c;
}
.navbar .fixed-phone {
    font-size: 14px;
    color: #2eba9d;
    font-family: proxima-semi;
    display: none;
    margin-top: 4px;
}
.navbar .fixed-phone a span{
    color:#2eba9d;
}
.navbar .fixed-phone img {
    padding: 3px;
    padding-bottom: 6px;
    padding-right: 4px;
    width: 26px;
}
.navbar:not(.navbar-fixed-top) .navbar-header .fixed-phone{
    display: none !important;
}
.navbar .navbar-header .fixed-phone{
    margin-top:26px;
}
.navbar .navbar-header .fixed-phone img{
    width: 28px;
}
/* T & C Modal */
.modal-list ul {
    margin-top: 15px;
    margin-bottom: 15px;
}
.modal-list ul li {
    padding: 12px 0;
    margin-left: 30px;
}
.modal-list ul li:before {
    content: url(images/check-icon-blue.png);
    vertical-align: top;
    position: absolute;
    left: 15px;
}
/* Guidance Value Calculator */
.typeahead, .tt-query, .tt-hint {
    border: 1px solid #CCCCCC;
    /* border-radius: 8px; */
    font-size: 14px; /* Set input font size */
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    /* width: 396px; */
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 14px;  /* Set suggestion dropdown font size */
    padding: 3px 20px;
}
.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
.twitter-typeahead{
    display: block !important;
}
.panel-heading:after{
    content:'';
    display:block;
    clear:both;
}
body[class*='cms-guidance-value-calculator'] .main-container{
    background: #fff;
}
body[class*='cms-guidance-value-calculator'] .main-container .modal-dialog{
    width: 600px;
}
body[class*='cms-guidance-value-calculator'] .main-container .modal-dialog>.modal-content{
    padding: 10px 20px 10px 20px;
    line-height: 1.5em;
}
body[class*='cms-guidance-value-calculator'] .main-container .modal-dialog>.modal-content ol>li{
    margin-top: 15px;
}
body[class*='cms-guidance-value-calculator'] .main-container ol{
    list-style: decimal;
}
body[class*='cms-guidance-value-calculator'] .main-container .col-main{
    box-shadow: none;
}
body[class*='cms-guidance-value-calculator'] .main-container .panel-footer{
    padding: 15px 15px 15px 15px;
}
body[class*='cms-guidance-value-calculator'] .main-container .panel-footer .guidance-value-caption {
    font-size: 18px;
    font-weight: bold;
    color: #a2a1a1;
}
body[class*='cms-guidance-value-calculator'] .main-container .panel-footer .guidance-value-text{
    font-size: 18px;
    color: #087fc1;
    margin-left: 10px;
}
body[class*='cms-guidance-value-calculator'] .main-container .rule-hint>a {
    color: #e84c3d;
}
body[class*='cms-guidance-value-calculator'] .main-container .service-thumb{
    background-color: #ececec;
}
.summary-note{
    text-align: justify;
    margin-top: 15px;
}
h3.guidance-label {
    color: #087fc1;
}
span.guidance-value-text {
    color: #2196F3;
}

/* True Price Styles */
.clr-purple {
    color: #46466e; 
}
.clr-cyan {
    color: #2eba9d; 
}
.clr-blue {
    color: #087fc1; 
}
.gray-bg-light {
    background-color: #f7f7f7; 
}
.m0 {
    margin: 0; 
}
.p0 { /* Not Used ?*/
    padding: 0; 
}
.pad-left-0 { /* Not Used ?*/
    padding-left: 0; 
}
.mt-15 {
    margin-top: 15px; 
}
.mt-30 { /* Not Used ?*/
    margin-top: 30px; 
}
.mt-35 {
    margin-top: 35px; 
}
.padlr0 { /* Not Used ?*/
    padding-left: 0 !important;
    padding-right: 0 !important; 
}
.pad-30 {
    padding: 30px; 
}
.pad-15 { /* Not Used ?*/
    padding: 15px; 
}
.posR { /* Not Used ?*/
    position: relative; 
}
.font-bold {
    font-family: 'Proxima-Semi'; 
}
.font-30 { /* Not Used ?*/
    font-size: 30px; 
}
.footer-line { /* Not Used ?*/
    display: block;
    height: 5px;
    background: #2eba9d;
    margin-top: 30px; 
}
.display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; 
}
.drop-down {
    padding: 10px 32px 10px 10px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    background: url("../images/true-price/down-arrow.svg") no-repeat; /* Image to be added */
    background-position: 90% 50%;
    background-size: 10px;
    background-color: #fff; 
}
.drop-down:focus {
    outline: none; 
}
.drop-down.fix-width {
    width: 190px;
    margin-right: 10px; 
}
.search-btn {
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 16px;
    background: #fd3753;
    color: #fff;
    border: none;
    font-weight: 900; 
}
.search-btn:focus {
      outline: none; 
}
.footer-bar { /* Not Used ?*/
    height: 40px;
    border-bottom: 8px solid #11c193; 
}
.true-price h2{
    font-family: 'Proxima-Regular';
    font-size: 32px;
}
.true-price .search h2{
    font-family: 'Proxima-Semi';
    font-size: 32px;
}
.true-price .main, .full-width .main{
    width: 100% !important;
    padding-top: 0px;
}
.true-price .col1-layout .col-main, .full-width .col1-layout .col-main{
    margin-bottom: 0px;
    padding:0px;
}
.true-price .col1-layout .col-main .std, .full-width .col1-layout .col-main .std{
    padding:0px;
}
.true-price .form-control:focus {
    outline: none; 
}
.true-price .form-control.border-none {
    padding: 20px;
    border-radius: 0; 
}
.true-price .close-btn svg { /* Not Used ?*/
    width: 20px;
    height: 20px; 
} 
.true-price #map { /* Not Used ?*/
    width: 100%;
    height: 600px;
    position: relative;
}
.true-price hr {
    margin: 10px auto; 
}
.true-price .property-card {
    height: 670px;
    overflow: scroll;
    overflow-x: hidden; 
}
.true-price .property-card::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3); 
} 
.true-price .property-card::-webkit-scrollbar {
    width: 5px;
    background-color: #efefef; 
}
.true-price .property-card::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc; 
}  
.true-price .property-card .card {
    padding: 10px; 
}
.true-price .property-card .card:hover .hover-details {
    opacity: 1;
}
.true-price .property-card .card h3 {
    margin-top: 0;
    color: #087fc1;
    font-weight: 500;
}
.true-price .property-card .card p {
    margin: 5px;
    font-size: 1.1em;
}
.true-price .property-card .card .area-price {
    font-family: 'Proxima-Semi';
    color: #686868;
}
.true-price .property-card .card .hover-details {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    opacity: 0;
    padding: 20px 15px 0 15px;
    color: #2eba9d;
    background: #fff;
    background: -webkit-linear-gradient(transparent, #fff);
    background: -o-linear-gradient(transparent, #fff);
    background: -moz-linear-gradient(transparent, #fff);
    background: linear-gradient(transparent, #fff);
    font-weight: 900;
}
.true-price .property-card .card .view-detail {
    background: #ffba00;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    padding: 3px 15px;
}
.true-price .property-card .card .view-detail:hover {
    background: transparent;
    border: 1px solid #ffba00;
    color: #ffba00;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.true-price .property-detail {
    background: #fff;
    position: absolute;
    top: 72px;
    width: 100%;
}
.true-price .property-detail .panel-default > .panel-heading {
    background-color: #fff;
    color: #087fc1;
    font-family: 'Proxima-Semi';
}
.true-price .property-detail .panel {
    border-radius: 0;
    border: 1px solid #ccc;
    margin-left: 30px;
    margin-bottom: 0;
}
.true-price .property-detail .panel-body {
    max-height: 552px;
    min-height: 552px;
    overflow-y: scroll;
}
.true-price .property-detail .panel-body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.true-price .property-detail .panel-body::-webkit-scrollbar {
    width: 5px;
    background-color: #efefef;
}
.true-price .property-detail .panel-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}
.true-price .property-detail .amenirty {
    font-size: 18px;
    font-family: 'Proxima-Regular';
}
.true-price .property-detail .nav-tabs {
    font-size: 18px;
}
.true-price .property-detail .nav-tabs > li {
    margin-right: 20px;
}
.true-price .property-detail .nav-tabs > li a {
    color: #565656;
    font-family: 'Proxima-Regular';
    font-size: 15px;
}
.true-price .property-detail .nav-tabs > li.active a,
.true-price .property-detail .nav-tabs > li:focus a,
.true-price .property-detail .nav-tabs > li:hover a {
    background-color: transparent !important;
    border: none;
    border-bottom: 3px solid #087fc1;
    color: #087fc1;
    font-family: 'Proxima-Semi';
}
.true-price .property-detail .card {
    padding: 15px;
    background-color: #fff;
    margin: 10px auto;
}
.true-price .property-detail .card p {
    font-size: 16px;
}
.true-price .property-detail .card .heading {
    font-size: 18px;
    font-family: 'Proxima-Semi';
}
.search {
    margin-top: 50px;
}
/* .true-price .search .map-bg {
    background: url(../images/map.png) center no-repeat;
    background-size: cover;
    position: relative;
    border-right: 10px solid #fff;
} */
.true-price .search .search-bg {
    padding: 15px;
    background: rgba(46, 186, 157, 0.2);
}
.true-price .search .heading {
    list-style: none;
    display: inline-block;
    width: auto;
    padding: 0;
}
.true-price .search .heading li {
    display: inline;
}
.true-price .search .heading li .text {
    margin: 0;
    margin-top: 30px;
    font-size: 30px;
}
.true-price .search .form-control {
    padding: 20px;
}
.true-price .search .search-bar {
    position: absolute;
    top: 40%;
    left: 20%;
    z-index: 1030;
}
.true-price .search .media-object {
    width: 80px;
    margin: 0px 24px 0px 0px;
}
.true-price .search .media-heading {
    font-size: 15px;
    margin-bottom: 15px;
    color: #565656;
}
.true-price .search .media-body p {
    font-family: 'Proxima-Regular';
    color: #565656;
}
.decor1 {
    background: #dee6eb;
    font-family: 'Proxima-Semi';
    font-size: 18px;
}
.decor1 a {
    color: #11c193;
    font-weight: 400;
}
.decor2 {
    background: #f9f9f9;
    font-family: 'Proxima-Regular';
    font-size: 18px;
}
.decor2 a {
    color: #087fc1;
    font-weight: 400;
}
.tab-section {
    padding-top: 32px;
}
.tab-section .row {
    border-right: 10px solid #fff;
}
.true-price .listing-section {
    position: absolute;
    top: 0;
    background: #fff;
    width: 100%;
}
@media only screen and (max-width: 480px) {
    .true-price .search .search-bar {
        top: 0%;
        left: 0%;
        position: relative;
        padding: 15px;
    }
    /* .true-price .search .map-bg {
        border: none;
    } */
}
.true-price .slider-value {
    border: none;
    background: transparent;
}
.true-price .heading {
    font-size: 20px;
    color: #087fc1;
    font-family: 'Proxima-Semi';
}
.true-price .slider-value {
    color: #087fc1;
    font-size: 20px;
}
.ui-slider-horizontal {
    height: .2em !important;
    background: rgba(8, 127, 193, 0.3) !important;
    border: none !important;
    margin-top: 8px;
    padding: 1px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -0.5em !important;
    border-radius: 100px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
.ui-button.ui-state-disabled:hover,
.ui-button.ui-state-disabled:active {
    border: 1px solid #2eba9d !important;
    background: #2eba9d !important;
    outline: none;
}
.true-price .location-img {
    margin-top: -16px;
    margin-right: 7px;
}
.true-price .line {
    width: 2px;
    height: 70px;
    top: 0px;
    left: 23px;
    background: #087fc1;
    position: absolute;
}
.true-price .found {
    padding-left: 30px;
    font-size: 16px;
    font-family: 'Proxima-Regular';
}
.true-price .semi-head {
    font-size: 20px;
    font-family: 'Proxima-Semi';
    color: #087fc1;
    padding: 15px;
}
.true-price .semi-head .sub {
    font-size: 16px;
    font-family: 'Proxima-Regular';
}
.true-price .table-fixed thead {
    width: 100%;
    color: #fff;
}
.true-price .table-fixed thead th {
    background: #087fc1 !important;
    border-radius: 0px !important;
    font-size: 12px;
}
.true-price .table-fixed thead th,
.true-price .table-fixed thead td,
.true-price .table-fixed tbody th,
.true-price .table-fixed tbody td {
    padding: 15px !important;
}
.true-price .table-fixed.table-fixed1 tbody tr:hover td:nth-child(1) {
    border-left: 5px solid #087fc1;
}
.true-price .table-fixed.table-fixed1 tbody tr:hover td:nth-child(2) {
    position: relative;
}
.true-price .table-fixed.table-fixed1 tbody tr:hover td:nth-child(2):after {
    content: '>';
    font-size: 18px;
    position: absolute;
    right: 15px;
    font-family: 'Proxima-Semi';
    color: #2eba9d;
}
.true-price .back-btn {
    background: #087fc1;
    color: #fff;
    margin-left: 15px;
    border-radius: 100px;
    font-size: 16px;
}
.true-price .back-btn:hover {
    color: #fff;
}
.true-price .search-box {
    position: absolute;
    top: 16px;
    right: 16px;
}
.true-price .search-box input {
    border: none;
    padding: 8px;
    position: absolute;
    right: -200px;
}
.true-price .show-box {
    right: 0px !important;
}
.true-price .table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.true-price .table-fixed tbody::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.true-price .table-fixed tbody::-webkit-scrollbar {
    width: 5px;
    background-color: #efefef;
}
.true-price .table-fixed tbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}
.true-price .table-fixed thead,
.true-price .table-fixed tbody,
.true-price .table-fixed tr,
.true-price .table-fixed td,
.true-price .table-fixed th {
    display: block;
}
.true-price .table-fixed tbody td,
.true-price .table-fixed thead > tr > th {
    float: left;
    border-bottom-width: 0;
}
.true-price .map-backdrop{
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    background-color: #FFF;
    transition: opacity .15s linear;
}
.map-zoom-wrapper{
    background-color : 'white';
    border-style : 'solid';
    border-color : 'gray';
    border-width : '1px';
    cursor: 'pointer';
    text-align:'center';
    width : '32px'; 
    height : '64px';
}
.map-zoomin-btn{
    width: 32px;
    height: 32px;
    background: url("../images/map/plus.png") no-repeat;
    background-repeat: no-repeat;
}
.map-zoomout-btn{
    width: 32px;
    height: 32px;
    background: url("../images/map/minus.png") no-repeat;
    background-repeat: no-repeat;
}
.true-price .search .map-bg{
    padding: 0px 15px 0px 0px;
}
.true-price .search-icon{
    cursor: pointer;
}
.pac-container{
    z-index: 1040;
}
.true-price .search-summary-info{
    padding-top:8px;
}
/* .panel {
    border-radius: 0;
    margin-left: 15px; 
} */
p.guidance-value-small-note{
    font-size: 12px;
    margin-top: 4px;
    color: #e84c3d;
}
.summary-section .refresh{
    color: #e84c3d;
}
/* Home Loan Calculator */
.home-loan .media-object {
    width: 40px;
}
.home-loan .btn-primary {
    border-radius: 50px;
    padding: 4px 18px;
}
.home-loan .mt-48 {
    margin-top: 48px;
}
.home-loan .br {
    border-right: 10px solid #fff;
}
.home-loan p.top-desc {
    margin-top: 24px;
    font-size: 14px;
    font-family: "Proxima-Semi";
    color: #595959;
}
.home-loan .home-loan-listing .loan-table {
    height: 500px;
    overflow: auto;
    margin-top: 32px;
    margin-bottom: 48px;
}
.home-loan .home-loan-listing .loan-table table {
    color: #595959;
    border-collapse: initial;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    font-family: "Proxima-Semi";
    width: 100%;
}
.home-loan .home-loan-listing .loan-table table thead th {
    background: #087fc1;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}
.home-loan .home-loan-listing .loan-table table thead th.text-left {
    text-align: left;
    padding-left: 12px;
}
.home-loan .home-loan-listing .loan-table table thead th.text-center {
    text-align: center;
}
.home-loan .home-loan-listing .loan-table table thead th.br {
    border-right: 1px solid #eaeaea;
}
.home-loan .home-loan-listing .loan-table table tbody tr {
    text-align: center;
}
.home-loan .home-loan-listing .loan-table table tbody tr:nth-child(even) {
    background: transparent;
}
.home-loan .home-loan-listing .loan-table table tbody tr:nth-child(odd) {
    background: #fff;
}
.home-loan .home-loan-listing .loan-table table tbody tr td {
    padding-top: 12px;
    padding-bottom: 12px;
}
.home-loan .home-loan-listing .loan-table table tbody tr td.text-left {
    text-align: left;
    padding-left: 12px;
}
.home-loan .home-loan-listing .loan-table table tbody tr td.text-center {
    text-align: center;
}
.home-loan .home-loan-listing .loan-table table tbody tr td.br {
    border-right: 1px solid #eaeaea;
}
.home-loan .table-bottom p.top-desc {
    margin-top: 4px;
}
.home-loan .table-bottom .btn-menu {
    float: right;
    padding: 4px 24px;
    background: transparent;
    color: #087fc1;
    border-color:#087fc1 !important;
    border: 1px solid;
}
.home-loan .table-bottom .btn-menu:hover, .home-loan .table-bottom .btn-menu:focus{
    background: #087fc1;
    border-color: #087fc1;
}
.home-loan-max p.clr-blue {
    color: #087fc1;
}
.home-loan-max .loan_calc {
    padding-right: 32px;
    display: block;
}
.home-loan-max .loan_calc .form-group {
    margin-bottom: 12px;
}
.home-loan-max .loan_calc .form-group label {
    font-family: "Proxima-Semi";
    color: #595959;
}
.home-loan-max [type="radio"]:checked,
.home-loan-max [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.home-loan-max [type="radio"]:checked + label,
.home-loan-max [type="radio"]:not(:checked) + label {
    margin-right: 32px;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #595959;
    font-family: "Proxima-Semi";
}
.home-loan-max [type="radio"]:checked + label:before,
.home-loan-max [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #087fc1;
    border-radius: 100%;
    background: transparent;
}
.home-loan-max [type="radio"]:checked + label:after,
.home-loan-max [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #087fc1;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.home-loan-max [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.home-loan-max [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.heading-regular{
    font-family: 'Proxima-Regular';
    font-size: 32px;
}
.slider-steps{
    border: 1px solid transparent;
	position: relative; 
    height: 30px;
    margin-bottom: 30px;
    font-size: 13px;
}
.slider-steps .tick { 
    border: 1px solid transparent;
    position: absolute;
    width: 1.2em;
    margin-left: -.6em;
    text-align:center;
    left: 0;
}
#emicalculatorinnerform{
    margin-top:24px;
}
.loan-calc-result-row{
    /* background:#E9E9E9; */
    background: #f1f1f1;
    padding: 5px;
    margin: 10px 5px;
}
.loan-calc-result-row .loan-calc-result{
    color: #087fc1;
    font-family: 'Proxima-Semi';
}
.loan-calc-result-row h5{
    font-size: 15px;
}
.lamount, .lint, .lterm{
    margin-bottom: 10px;
}
.home-loan .br-left{
    border-left: 10px solid #fff;
}
.home-loan .br-top{
    border-top: 10px solid #fff;
    padding-bottom: 15px;
}
.home-loan .chart{
    width: 100%; 
    min-height: 300px;
}
.home-loan .chart img{
    margin-top: 30%;
    margin-left: 30%;
}
.home-loan #amortization-graph img{
    margin-top: 22%;
}

#resultFrmGroup label{
    font-family: "Proxima-Semi";
    color: #087fc1;
}
@media (max-width: 767px) {
    .home-loan .br {
        border-width: 0;
    }
    .home-loan .br-left {
        border-width: 0;
    }
    .home-loan .table-bottom .btn-menu {
        float: none;
        margin: 0 auto;
        display: block;
        margin-top: 16px;
    }
    .home-loan .mt-35 .mt-48 {
        margin: 24px auto;
        display: block;
    }
}
@media only screen and (max-width: 480px) {
    .slider-steps .tick{
        font-size:11px;
    }
    .heading-regular{
        font-size:24px;
    }
    .home-loan .gray-bg-light h2{
        font-size:24px;
    }
    .search{
        margin-top: 20px;
    }
    .home-loan .chart{
        min-height: 300px;
    }
    .home-loan .padxs{
        padding:15px;
    }
    .home-loan .br-topxs{
        border-top: 10px solid #fff !important;
        padding-bottom: 15px !important;
    }
    .home-loan .media-object{
        width:30px;
    }
    .home-loan .gray-bg-light p{
        font-size:15px;
    }
    .home-loan #amortization-graph img{
        margin-top: 30%;
    }
}
/*For new about us page*/
.white-box-layout .our_team h3 {
    font-size: 16px;
    color: #087fc1;
    margin-top: 15px;
}
.white-box-layout .our_team h5 {
    font-size: 13px;
    margin-top: 0px;
    font-weight: bold;
}
.white-box-layout .our_team p {
    font-size: 13px;
    margin-top: 0px;
    font-weight: bold;
    line-height: normal;
}
.white-box-layout .div_ot {
    margin-bottom: 6%;
}
.white-box-layout .div_oi {
    margin-bottom: 1%;
}
.white-box-layout .social-icons a {
    color: #0077B5 !important;
}

/*ravi*/
#myCarousel{
  height: 522px;
}
#myCarousel .carousel-inner, #myCarousel .item, #myCarousel .item>img{height: 100%;width: 100%;}
.lhs-btn3{
      position: absolute;
    top: 0;
    right: 3px;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.carousel-caption {
    text-shadow: none;
    font-size:17px;
    top: 30%;
}
.carousel-caption h3 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}